button {
    font-family: var(--baseFontFamily);
    cursor: pointer;
    transition: background-color 0.3s ease, 
                box-shadow 0.3s ease, 
                border 0.3s ease,
                color 0.3s ease,
                opacity 0.3s ease;
    border: none;
    border-radius: var(--bigRadius);
    font-weight: 600;
}

.light-theme button {
    color: var(--lightTextButtonColor);
    background-color: var(--lightItemsBackground);
    border: var(--lightBorder);
    box-shadow: var(--lightBoxShadow);
}

.dark-theme button {
    color: var(--darkTextButtonColor);
    background-color: var(--darkGreyBackground);
    border: var(--darkBorder);
}

button:is(:focus, :focus-visible) {
    outline: var(--redBorderFocus);
    outline-offset: 2px;
}

.dark-theme button:is(:focus, :focus-visible) {
    background-color: var(--darkHoverBackground);
    outline-offset: 2px;
}

.theme-button {
    width: 48px;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
    border: none!important;
    box-shadow: none!important;
    border-radius: var(--littleRadius);
}

.light-theme .theme-button {
    background-color: var(--lightGreyBackground);
    background-image: url("../../assets/img/icon-moon.svg");
}

.light-theme .theme-button:hover {
    background-color: var(--lightHoverBackground);
}

.dark-theme .theme-button {
    background-color: var(--darkGreyBackground);
    background-image: url("../../assets/img/icon-sun.svg");
    border: none;
}

.dark-theme .theme-button:hover {
    background-color: var(--darkHoverBackground);
}

.button-group.filter button {
    padding: 0.4em 1em 0.5em;
    font-size: 1.2rem;
}

.light-theme button.active {
    background-color: var(--lightRed);
    color: var(--darkTextButtonColor);
}

.dark-theme button.active {
    border: none;
    box-shadow: none;
    background-color: var(--darkRed);
    color: var(--lightTextButtonColor);
}

.light-theme .button-group.filter button:hover:not(.active) {
    opacity: 0.6;
}

.light-theme .button-group.filter button.active:hover {
    background-color: var(--mediumRed);
}

.dark-theme .button-group.filter button:hover:not(.active) {
    background-color: var(--darkHoverBackground)
}

.dark-theme .button-group.filter button.active:hover {
    background-color: var(--mediumRed);
}

.card-extension_remove-button {
    padding: 0.3em 1em 0.4em;
    font-size: 1.1rem;
    letter-spacing: -0.04em;
}

.light-theme .card-extension_remove-button {
    box-shadow: none;
    color: var(--lightTextButtonColor);
    border-width: 1.8px;
}

.light-theme .card-extension_remove-button:hover{
    color: var(--darkTextButtonColor);
    background-color: var(--lightRed);
    border-color: var(--lightRed)
}

.light-theme .card-extension_remove-button:is(:focus, :focus-visible) {
    background-color: var(--lightGreyBackground);
    border-color: var(--lightGreyBackground);
    color: var(--lightTextButtonColor)   
}   

.dark-theme .card-extension_remove-button {
    color: var(--darkTextButtonColor);
    background-color: var(--darkHeaderBackground);
    border-width: 1.8px
}

.dark-theme .card-extension_remove-button:hover {
    color: var(--lightTextButtonColor);
    background-color: var(--mediumRed);
    border-color: var(--mediumRed)
}

.dark-them .card-extension_remove-button:is(:focus, :focus-visible) {
    background-color: var(--darkHoverBackground);
    border-color: var(--darkHoverBackground)
}

.card-extension_is-active-button {
    align-self: center;
    position: relative;
    width: 44px;
    height: 24px;
}

.light-theme .card-extension[data-status="active"] .card-extension_is-active-button {
    background-color: var(--lightRed);
    border: solid 2px var(--lightRed);
    box-shadow: none;
}

.light-theme .card-extension[data-status="active"] .card-extension_is-active-button:hover {
    background-color: var(--mediumRed);
    border-color: var(--mediumRed)
}

.dark-theme .card-extension[data-status="active"] .card-extension_is-active-button {
    background-color: var(--darkRed);
    border: solid 1px var(--darkRed);
    box-shadow: none;
}

.dark-theme .card-extension[data-status="active"] .card-extension_is-active-button:hover {
    background-color: var(--mediumRed);
    border-color: var(--mediumRed);
}

.light-theme .card-extension[data-status="inactive"] .card-extension_is-active-button {
    background-color: var(--lightMediumGrey);
    border: solid 2px var(--lightMediumGrey);
    box-shadow: none;
}

.light-theme .card-extension[data-status="inactive"] .card-extension_is-active-button:hover {
    background-color: hsl(0, 0%, 70%);
    border-color: hsl(0, 0%, 70%)
}

.dark-theme .card-extension[data-status="inactive"] .card-extension_is-active-button {
    background-color: var(--darkButtonBackground);
    border: solid 2px var(--darkButtonBackground);
    box-shadow: none;
}

.dark-theme .card-extension[data-status="inactive"] .card-extension_is-active-button:hover {
    background-color: var(--darkHoverBackground);
    border-color: var(--darkHoverBackground);
}

.card-extension_round-to-update {
    background-color: var(--lightItemsBackground);
    position: absolute;
    width: 45%;
    /*height: 88%;*/
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.card-extension[data-status="active"] .card-extension_round-to-update {
    right: 2%;
}

.card-extension[data-status="inactive"] .card-extension_round-to-update {
    left: 2%;
}

.restore-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    aspect-ratio: 1/1;

    font-size: 1.4rem;
    line-height: 1;
}

.light-theme .restore-button:hover {
    background-color: var(--lightHoverBackground);
}

.dark-theme .restore-button:hover {
    background-color: var(--darkHoverBackground);
}