footer {
  margin-top: 20px;
  font-weight: var(--mediumWeight);
}

footer a {
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.light-theme footer {
  color: var(--lightTextColor);
}

.light-theme footer a {
  color: var(--lightRed);
}

.light-theme footer a:hover {
  opacity: 0.6;
}

.light-theme footer a:is(:focus, :focus-visible) {
  opacity: 0.6;
  text-decoration: underline;
  outline: none;
}

.dark-theme footer {
  color: var(--darkTextColor);
}

.dark-theme footer a {
  color: var(--darkRed);
}

.dark-theme footer a:hover {
  opacity: 0.8;
}

.dark-theme footer a:is(:focus, :focus-visible) {
  opacity: 0.8;
  text-decoration: underline;
  outline: none;
}
